
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}


.comments-section {
  max-width: 800px;
  margin: 0 auto;
 
}

.comment-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  height: 23vh;
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
}

.comment-form input{
  margin-top: 1rem;
}

.comment-form input,
.comment-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.comment-form button {
  background-color: #1e90ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

h1 {
  text-align: center;
}


.comment-item {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  width: 80vw;;
  margin-left : 10vw;
  margin-right: 10vw;
}

.comment-item strong {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.comment-item .date {
  font-size: 12px;
  color: #666;
  margin-bottom: 10px;
  display: block;
}

.comment-item p {
  margin: 10px 0;
}

.comment-item .actions {
  font-size: 14px;
  color: #1e90ff;
}

.comment-item .actions button {
  margin-right: 10px;
  background: none;
  border: none;
  color: #1e90ff;
  cursor: pointer;
}

.comment-item .actions button:hover {
  text-decoration: underline;
}


.reply-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 1rem;
  border: 1px solid #ccc;
  padding: 16px;
  background-color: #f9f9f9;
}

.reply-form input,
.reply-form textarea {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.reply-form button {
  align-self: flex-end;
  padding: 8px 16px;
  background-color: #1877f2; 
  color: #fff;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}


.replies {
  list-style: none;
  padding-left: 0;
  margin-top: 1rem;
}

.reply-item {
  background-color: #f7f7f7;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.reply-item strong {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.reply-item p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.reply-item .date {
  font-size: 12px;
  color: #999;
  align-self: flex-end;
  margin-top: 5px;
}

.reply-item:hover {
  border-color: #007bff;
}

.comment-list {
  list-style-type: none;
  padding: 0;
}


.sort {
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 80vw;
}

.sort:hover {
  color: #000;
}

.sort:focus {
  outline: none;
}

.sort:after {
  content: ' ';
  margin-left: 4px;
}
